imports:
  - { resource: vendor/openeuropa/code-review/dist/library-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - loadTasks.php
  tasks.phpmd.exclude:
    - vendor/
